body {
	font-family: 'Montserrat', sans-serf;
	/*background-color: #FAF2AD;*/
	background-image: url("../images/supermarket.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


 h1  {
	font-size: 1.75rem;
	text-align: center;
	color: #3B5E4A;
}

header {
	background-color: #EFE2B5;
	margin-top: 0;
}

section .add-items {
	margin-top: -1em;
}

section {
	background-color: ##DCDCDC;
	width: 75%;
	margin: 1em  auto 0 auto;
	padding: 1em;
	box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.36);
}


/******************
	ADD ITEM FORM
*******************/
form {
	width: 100%;
	margin: 2em auto auto;
}


input[type="text"] {
	height: 20px;
	width: 20%;
	font-size: 0.625em;
	padding: 1px;
	margin: 0 auto;
}

select {
	width: 50%;
	font-size: 0.635em;

}

select option {
	padding: 2px 0;
}

label {
	font-size: 0.85rem;
	font-weight: 300;
}

button {
	height: 1.250em;
	padding: 1px;
	font-size: 0.625em;
}



@media (max-width: 500px){
	input[type="text"] {
		width: 45%;
	}
    
}

@media (min-width: 500px) {
	select {
		width: 25%;
	}

	
}
@media (min-width: 768px) {
	 h1 {
		font-size: 2.86rem;
	}
	
	label {
		font-size: 0.92rem;
	}

	
	select {
		width: 25%;
	}

}

/******************
	LIST
*******************/


#list h1 {
	margin-bottom: 1em;
}

#list p {
	font-size: 0.75em;
	padding-top: 0.35em;
}



#list label {
	font-size: 0.85rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;

}
#list legend {
	width: 65%;
	margin: 0 auto;
	font-size: 0.75em;
	border-color: black;
}
#list > div {
	border-width: 1px;
	border-style: none none solid none;
	border-color: black;
	margin: 0 auto 1.2em auto;
	width: 65%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

#list button {
	font-size: 0.5em;
}

#add-more {
	display: none;
}
.no-items {
	display: none;

}






